In [1]:
from nowcasting_dataset.data_sources import PVDataSource

In [2]:
from pathlib import Path

In [3]:
BUCKET = Path('solar-pv-nowcasting-data')

# Solar PV data
PV_PATH = BUCKET / 'PV/PVOutput.org'
PV_DATA_FILENAME = PV_PATH / 'UK_PV_timeseries_batch.nc'
PV_METADATA_FILENAME = PV_PATH / 'UK_PV_metadata.csv'

In [4]:
pv = PVDataSource(
    filename=PV_DATA_FILENAME,
    metadata_filename=f'gs://{PV_METADATA_FILENAME}',
    history_len=0,
    forecast_len=1,
    image_size_pixels=128,
    meters_per_pixel=2_000)

In [5]:
pv._load_metadata()

In [6]:
pv.pv_metadata

,system_name,system_size_watts,postcode,number_of_panels,panel_power_watts,panel_brand,num_inverters,inverter_power_watts,inverter_brand,orientation,...,install_date,latitude,longitude,status_interval_minutes,number_of_panels_secondary,panel_power_watts_secondary,orientation_secondary,array_tilt_degrees_secondary,location_x,location_y
system_id,,,,,,,,,,,,,,,,,,,,,
19397,AndyT's,3900,BS22,20,195,ZN Shine 195w,1,3500,Kaco 4202,S,...,2011-11-21 00:00:00,51.360000,-2.920000,5,0,0,NaN,NaN,336040.111594,162727.594958
8195,Kilmarnock Roof,3750,KA3,15,250,Sanyo 250 HIT,1,4000,Omniksol,S,...,2011-11-07 00:00:00,55.640000,-4.490000,10,0,0,NaN,NaN,243375.240109,641306.579495
8200,Flat 5,3430,E8,14,245,NaN,1,3000,sb3000,S,...,2011-12-12 00:00:00,51.540000,-0.060000,5,0,0,NaN,NaN,534637.604838,184127.839407
8204,Sooper-Dooper Solar,2940,GU2,12,245,SunTech STP245S-20/Wd,1,3000,Kaco Powador 3002,S,...,2012-05-11 00:00:00,51.240000,-0.590000,10,0,0,NaN,NaN,498525.108926,149924.247754
8205,58GPR,4000,BS48,16,250,Sanyo component Europe GmbH,1,50,Sma sunny boysb3800v,S,...,2011-11-10 00:00:00,51.420000,-2.740000,10,0,0,NaN,NaN,348640.096259,169258.481589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8164,Bradwell,49950,NR31,222,225,Canadaian Solar CSP6P,3,17000,SMA STPxx000TL,S,...,2012-03-01 00:00:00,52.570000,1.710000,15,0,0,NaN,NaN,651504.666617,303375.010185
40941,The Tavi Generators,2600,PL19,10,260,Don't know,1,3000,SMA S3000,S,...,2014-05-20 00:00:00,50.550000,-4.150000,5,0,0,NaN,NaN,247779.410933,74456.400137
40943,Allen's,3990,PE37,14,285,Seraphim SRP-285-5MA-BF,1,4000,SolarEdge SE4000-16A,SW,...,2015-04-10 00:00:00,52.645921,0.778089,5,0,0,NaN,NaN,588043.493180,308976.183304
24565,SLP,4000,GU17,16,250,SolarWorld,1,4000,SolarEdge,SE,...,NaN,51.320000,-0.780000,5,0,0,NaN,NaN,485114.358996,158583.447744
57336,This is to pay for retirement,5886,OX18,18,327,SunPower,1,6000,solis,SE,...,2018-01-18 00:00:00,51.760000,-1.590000,5,0,0,NaN,NaN,428394.503097,206892.172000

In [8]:
pv.pv_metadata.location_x

system_id
19397    336040.111594
8195     243375.240109
8200     534637.604838
8204     498525.108926
8205     348640.096259
             ...
8164     651504.666617
40941    247779.410933
40943    588043.493180
24565    485114.358996
57336    428394.503097
Name: location_x, Length: 2548, dtype: float64

In [9]:
pv.pv_metadata.location_y

system_id
19397    162727.594958
8195     641306.579495
8200     184127.839407
8204     149924.247754
8205     169258.481589
             ...
8164     303375.010185
40941     74456.400137
40943    308976.183304
24565    158583.447744
57336    206892.172000
Name: location_y, Length: 2548, dtype: float64

In [14]:
import numpy as np

In [21]:
%%time
_ = pv.pv_metadata[np.isclose(pv.pv_metadata.location_x, 348640.096259) & np.isclose(pv.pv_metadata.location_y, 169258.481589)]

CPU times: user 1.2 ms, sys: 61 µs, total: 1.26 ms
Wall time: 968 µs